.image-container {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    perspective: 1000px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    background-color:#F15BB5;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    padding: 100px;
}
.section-text{
    font-size: 50px;
    width: 700px;
    text-align: center;
    color: black;
}
.section-button {
    width: 220px;
    height:50px;
    position: absolute;
    text-align: center;
    left: 60%;
    top: 70%;
    border-radius: 10px;
    font-size: 20px;
    background-color: #F15BB5;
    border: 3px solid black; 
    padding: 10px;
    font-weight: bold;
}
.section-button a {
    text-decoration: none;
    color: black;
}
.section-button i {
    margin-right: 10px;
}
.section-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(47, 46, 46, 0.782),
    0px 0px 10px rgba(47, 46, 46, 0.782);
}
/* section2 */
.section-second{
    background-color: #FEE440;
    height: 80vh;
    justify-content: space-around;
    padding: 10px;
}
.section-chocolate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.chocolate{
    margin-top: 50px;
}
.section-chocolate-button{
    width: 220px;
    height:50px;
    position: absolute;
    text-align: center;
    left: 15%;
    top: 152%;
    border-radius: 10px;
    font-size: 20px;
    background-color: #FEE440;
    border: 3px solid black;
    font-weight: bold;
}
.section-chocolate-button i {
    margin-right: 10px;
}
.section-chocolate-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(47, 46, 46, 0.782),
    0px 0px 10px rgba(47, 46, 46, 0.782);
}

/* section3 */
.section-drink{
    justify-content: space-around;
    padding: 100px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
    padding-top: 20px;
    background-color: #9B5DE5;
}
.section-drink-button {
    width: 220px;
    height:50px;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    background-color: #9B5DE5;
    border: 3px solid black;
    padding: 10px;
    font-weight: bold;
    right: 15%;
    margin-top: 70px;
}
.section-drink-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(47, 46, 46, 0.782),
    0px 0px 10px rgba(47, 46, 46, 0.782);
}
.section-chocolate-image, .section-drink-image {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
.section-drink-button a {
    text-decoration: none;
    color: black;   
} 
.section-chocolate-button a {
    text-decoration: none;
    color: black; 
}