*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* navbar */
#navbar{
    background-color: coral;
    height: 7vh;
    position: fixed;
    width: 100%;
}
.navbar-flex{
    display: flex;

}
.navbar-items{
    display: flex;
    justify-content: end;
    width: 80%;
    align-items: center;
    height: 5vh;
    gap: 50px;
}
.navbar-items li {
    list-style: none;
}
.navbar-child-items{
    position: absolute;
    display: none;
    background-color: coral;
    margin-left: 30px;

}
.navbar-child-items li {
    padding: 10px;
}
.navbar-items li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar-items li a  i {
    padding-right: 10px;
    padding-left: 10px;
}
.logo {
    height: 7vh;
}

.navbar-child:hover .navbar-child-items{
    display: block;
} 
.shape-rotate {
    transition: 0.6s ease;
}
.navbar-child:hover .shape-rotate{
    rotate: 180deg;
}
.navbar-items li a:hover {
    color: #8000ff;  
}
.navbar-child-items li:hover {
    background-color: #8000ff;
}
.navbar-child-items li a:hover {
    color: white;
}
/* section */

/* footerr  */
.footer{
    background-color: rgb(40, 37, 37);
    color: white;
    height: 30vh;
    padding-top: 20px;

}
.footer-section{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.footer-text li{
    list-style: none;
    padding-top: 5px;
    font-size: 20px;
}
.footer-text li  a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.footer-social-network {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.footer-social-network a{
    text-decoration: none;
    color: white;
}
.footer-social-network a:hover{
    color: rgb(229, 142, 71);
}
.footer-text li  a:hover {
    color: rgb(229, 142, 71);

}
.footer-title{
    text-align: center;
    color: white;
    padding-top: 25px;
    margin-top:-10px
    
}
  #navbar {
    background-color: coral;
    height: 7vh;
    position: fixed;
    width: 100%;
    z-index: 1; 
}


  





/* Side-bar */
.side-bar{
    margin-top: 7vh;
    width: 200px;
    height: 93vh;
    background-color: yellow;
    padding-top: 15px;
    padding-left: 15px;
    position: absolute;
    z-index: 1;
    transform: translateX(-200px);
    transition: transform 0.3s ease;
}
.side-bar.active {
    transform: translateX(0); 
}
.side-bar .active {
    left:0px;
}
.menu{
    position: absolute;
    margin-top: 10vh;
    margin-left: 10px;
}
.menu i{
    cursor: pointer;
    color: #8000ff;
    background-color: white;
    width: 40px;
    align-items: center;
    text-align: center;
    height: 35px;
    font-size: 35px;
    margin: 5px;
}
.side-bar h1{
    font-size: 40px;
    color: #8000ff;
}
.side-bar h1 i{
    cursor: pointer;
    color: #8000ff;
    background-color: white;
    width: 40px;
    align-items: center;
    text-align: center;
    height: 35px;
    font-size: 35px;
    margin: 5px;
}
.side-bar p{
    padding: 5px;
    cursor: pointer;
}
.side-bar p i{
    padding-right: 10px;
    margin-right: 10px;
    width: 20px;
}
.side-bar p:hover{
    background-color: #8000ff;
    color: white;
}

.active-list{
    color: #8000ff !important;
}