<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/about.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous"  referrerpolicy="no-referrer"/>
</head>
<body >
    <!-- navbar -->
    <nav id="navbar">
        <div class="container navbar-flex">
            <img src="../media/logo.png" alt="" class="logo">
            <ul class="navbar-items">
                <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                <li  class="navbar-child"><a href="#"><i class="fa-solid fa-bowl-food"></i>Product <i class="fa-solid fa-caret-up shape shape-rotate"></i>
                <ul class="navbar-child-items">
                    <li><a href="../template/ice-cream.html"><i class="fa-solid fa-ice-cream"></i>ice cream</a></li>
                    <li><a href="../template/chocolate.html"><i class="fa-solid fa-cookie"></i>chocolate</a></li>
                    <li><a href="../template/drink.html"><i class="fa-solid fa-bottle-water"></i>drink</a></li>
                </ul>
                </a></li>
                <li><a href="../template/basket.html"><i class="fa-solid fa-cart-shopping"></i> Basket</a></li>
                <li><a href="../template/about.html"  class="active-list"><i class="fa-regular fa-address-card"></i> About</a></li>
            </ul>
        </div>
     </nav>
<!--Side bar-->
<div class="menu"><i class="fas fa-bars"></i></div>
<div class="side-bar">
    <h1><i class="fas fa-xmark"></i>MENU</h1>
    <p class="list"><i class="fa-solid fa-tv"></i>Dashboard</p>
    <p class="list"><i class="fa-solid fa-user"></i>Portfolio</p>
    <p class="list"><i class="fa-brands fa-gripfire"></i>Trending</p>
    <p class="list"><i class="fa-solid fa-comments"></i>Messages</p>
    <p class="list"><i class="fa-solid fa-folder"></i>File Manager</p>
    <p class="list"><i class="fa-solid fa-address-card"></i>Portfolio</p>
    <p class="list"><i class="fa-solid fa-heart"></i>Saved</p>
    <p class="list"><i class="fa-solid fa-gears"></i>Settings</p>
</div>
     <!--Video-->
     <div class="video-container">
        <video autoplay muted loop>
            <source src="../media/Motivational Video.mp4">
        </video>
        <div class="background">
            
        </div>
        <div class="about-text">
            <h3>Biz bilan bog'lanish</h3>
            <ul>
                <li><i class="fa-solid fa-phone"></i><a href="#">+998 99 899 89 89</a></li>
                <li><i class="fa-solid fa-phone"></i><a href="#">+998 99 799 79 79</a></li>
                <li><i class="fa-solid fa-envelope"></i><a href="#">cream@outlook.com</a></li>
            </ul>
        </div>
     </div>
     

      <script src="../script/ice-cream.js"></script>
      <script src="../script/count.js"></script>
      <script src="../script/side.js"></script>
</body>
</html>
